.hidden {
    visibility: hidden;
<<<<<<< HEAD
}

#welcome {
    visibility: hidden;
    color: rgb(128, 77, 0);
    background-color: rgb(192, 192, 192);
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    
=======
>>>>>>> 0761d9cad2d3cb3b48070619b988dd87b2419dd6
}